Repository agencyenterprise/neurotechdevkit, pull requests merged in 2023-07, with the labels that each got.

#103 Renaming circle_ci job
  .circleci/config.yml
  .github/workflows/circle_artifacts.yml
Labels: norelease

#107 Add ffmpeg to docker dependencies
  Dockerfile
Labels: release:patch

#82 Allowing customization of the center frequency and of material layers
  .vscode/settings.json
  Makefile
  docs/examples/plot_3d.py
  docs/examples/plot_adding_custom_source.py
  docs/examples/plot_customized_center_frequency.py
  docs/examples/plot_full_scenario.py
  docs/examples/plot_metrics.py
  docs/examples/plot_multiple_sources.py
  docs/examples/plot_phased_array_source.py
  docs/examples/plot_pulsed_simulation.py
  docs/examples/plot_scenarios.py
  docs/examples/plot_store_results.py
  src/neurotechdevkit/__init__.py
  src/neurotechdevkit/materials.py
  src/neurotechdevkit/rendering/napari.py
  src/neurotechdevkit/results/_metrics.py
  src/neurotechdevkit/results/_results.py
  src/neurotechdevkit/scenarios/__init__.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_scenario_0.py
  src/neurotechdevkit/scenarios/_scenario_1.py
  src/neurotechdevkit/scenarios/_scenario_2.py
  src/neurotechdevkit/scenarios/materials.py
  tests/neurotechdevkit/scenarios/test_base.py
  tests/neurotechdevkit/scenarios/test_materials.py
  tests/neurotechdevkit/scenarios/test_metrics.py
  tests/neurotechdevkit/scenarios/test_time.py
  whitelist.txt
Labels: release:minor

#111 various documentation changes and corrections
  docs/examples/plot_scenarios.py
  docs/usage/defining_sources.md
  docs/usage/loading_scenarios.md
Labels: norelease

#121 Update `napari` install instructions to Qt6 on Mac M1
  .github/workflows/lint.yml
  docs/examples/plot_3d.py
  docs/usage/troubleshooting.md
  src/neurotechdevkit/rendering/napari.py
Labels: bug, documentation, release:patch

#81 Add resource estimation for pulsed simulations
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_resources.py
  tests/neurotechdevkit/scenarios/test_resources.py
Labels: release:patch

#120 Adding default labels to PRs
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/check_labels.yml
  .github/workflows/labeler.yml
Labels: norelease

#125 fix typo: type-hint vs default-value
  src/neurotechdevkit/scenarios/_scenario_0.py
Labels: release:patch

#124 Compiling problem on render_layout if it was not compiled previously
  docs/examples/plot_full_scenario.py
  src/neurotechdevkit/scenarios/_base.py
Labels: norelease

#127 Not adding default labels if PR is already labeled
  .github/workflows/labeler.yml
Labels: norelease

#105 Time-reverse simulation for phased-array delay design
  docs/examples/plot_time_reverse.py
  docs/javascript/mathjax.js
  mkdocs.yml
  src/neurotechdevkit/rendering/__init__.py
  src/neurotechdevkit/rendering/_source.py
  src/neurotechdevkit/results/_results.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/sources.py
  tests/neurotechdevkit/test_sources.py
  whitelist.txt
Labels: norelease, label_review
