Repository agencyenterprise/neurotechdevkit, pull requests merged in 2023-05, with the labels that each got.

#19 Adding label enforcer to CI
  .github/workflows/check_labels.yml
  .github/workflows/release.yml
Labels: norelease

#26 Only running publish release if a new version was generated
  .github/workflows/release.yml
Labels: norelease

#27 Removing empty lines to test version bump
  .github/workflows/release.yml
Labels: release:patch

#28 Adding Personal Access Token to push release
  .github/workflows/release.yml
Labels: release:patch

#8 Add acknowledgements to index.md
  docs/index.md
Labels: release:patch

#20 update project description
  pyproject.toml
Labels: release:patch

#24 Adding troubleshooting section
  docs/index.md
  docs/usage/troubleshooting.md
  mkdocs.yml
Labels: norelease

#15 Pyright integration
  .github/workflows/lint.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/neurotechdevkit/rendering/_animations.py
  src/neurotechdevkit/rendering/_formatting.py
  src/neurotechdevkit/rendering/_source.py
  src/neurotechdevkit/rendering/_target.py
  src/neurotechdevkit/rendering/layers.py
  src/neurotechdevkit/rendering/layout.py
  src/neurotechdevkit/rendering/legends.py
  src/neurotechdevkit/rendering/napari.py
  src/neurotechdevkit/rendering/simulations.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_scenario_0.py
  src/neurotechdevkit/scenarios/_shots.py
  src/neurotechdevkit/scenarios/_time.py
  src/neurotechdevkit/scenarios/_utils.py
  src/neurotechdevkit/sources.py
  tests/neurotechdevkit/test_sources.py
Labels: release:patch

#29 Enforce mypy checks
  poetry.lock
  pyproject.toml
  src/neurotechdevkit/__init__.py
  src/neurotechdevkit/rendering/_animations.py
  src/neurotechdevkit/rendering/_target.py
  src/neurotechdevkit/rendering/layers.py
  src/neurotechdevkit/rendering/legends.py
  src/neurotechdevkit/rendering/napari.py
  src/neurotechdevkit/rendering/simulations.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_metrics.py
  src/neurotechdevkit/scenarios/_results.py
  src/neurotechdevkit/scenarios/_scenario_0.py
  src/neurotechdevkit/scenarios/_scenario_1.py
  src/neurotechdevkit/scenarios/_scenario_2.py
  src/neurotechdevkit/scenarios/_time.py
  src/neurotechdevkit/scenarios/_utils.py
  src/neurotechdevkit/sources.py
Labels: norelease

#25 Fixing docstrings to make API rendering correct
  docs/api/make.md
  docs/api/results.md
  docs/api/scenarios.md
  docs/api/sources.md
  docs/css/mkdocstrings.css
  mkdocs.yml
  src/neurotechdevkit/__init__.py
  src/neurotechdevkit/rendering/_formatting.py
  src/neurotechdevkit/rendering/_source.py
  src/neurotechdevkit/rendering/_target.py
  src/neurotechdevkit/rendering/layers.py
  src/neurotechdevkit/rendering/layout.py
  src/neurotechdevkit/rendering/legends.py
  src/neurotechdevkit/rendering/napari.py
  src/neurotechdevkit/rendering/simulations.py
  src/neurotechdevkit/results/__init__.py
  src/neurotechdevkit/results/_results.py
  src/neurotechdevkit/scenarios/__init__.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_metrics.py
  src/neurotechdevkit/scenarios/_scenario_1.py
  src/neurotechdevkit/scenarios/_scenario_2.py
  src/neurotechdevkit/scenarios/_shots.py
  src/neurotechdevkit/scenarios/_time.py
  src/neurotechdevkit/scenarios/_utils.py
  src/neurotechdevkit/sources.py
  tests/neurotechdevkit/scenarios/test_base.py
  tests/neurotechdevkit/scenarios/test_metrics.py
  tests/neurotechdevkit/scenarios/test_results.py
Labels: norelease

#31 Adding process section to 'Contributing'
  .github/pull_request_template.md
  .vscode/settings.json
  docs/contributing.md
  docs/images/circle-ci-artifacts.png
  docs/images/circle-ci-check.png
Labels: norelease

#49 Adding job to display a link to the PR generated documentation
  .circleci/config.yml
  .github/pull_request_template.md
  .github/workflows/circle_artifacts.yml
Labels: norelease

#50 Updating contributing guide for generated documentation
  .circleci/config.yml
  .github/workflows/circle_artifacts.yml
  docs/contributing.md
  docs/images/circle-ci-artifacts.png
  docs/images/circle-ci-check.png
  docs/images/circle-ci-rendered-docs.png
  docs/images/gallery-link.png
  mkdocs.yml
Labels: norelease

#40 Adding phased array source example to gallery
  .circleci/config.yml
  docs/examples/plot_phased_array_source.py
  docs/images/phased-array-3d.png
  docs/images/phased-array-axis-definition.png
  docs/images/phased-array-schematic.png
Labels: norelease

#59 Adding python 3.10 as CI testing target
  .github/workflows/docs.yml
  .github/workflows/test.yml
Labels: norelease

#39 Add example notebooks to the gallery
  docs/examples/plot_adding_custom_source.py
  docs/examples/plot_metrics.py
  src/neurotechdevkit/__init__.py
Labels: norelease

#42 Adding example of save and load results
  docs/examples/plot_store_results.py
Labels: norelease

#43 Adding GPU support documentation
  docs/usage/gpu.md
  mkdocs.yml
  src/neurotechdevkit/scenarios/_base.py
Labels: release:patch

#54 Updating instructions for MacOS installation
  docs/index.md
  mkdocs.yml
Labels: norelease

#61 Extending troubleshooting
  docs/usage/troubleshooting.md
Labels: norelease

#60 Split installation methods in docs
  docs/index.md
  docs/usage/installation.md
  mkdocs.yml
Labels: norelease

#55 Save to disk with version
  src/neurotechdevkit/results/_results.py
  tests/neurotechdevkit/scenarios/test_data/broken_tarball.tz
  tests/neurotechdevkit/scenarios/test_results.py
Labels: release:minor

#63 Split installation methods in docs
  docs/index.md
  docs/usage/installation.md
  mkdocs.yml
Labels: norelease

#64 Caching in CI
  .circleci/config.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: norelease

#65 Updating CI cache folder
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: norelease

#67 Preventing release before tests are passing
  .github/workflows/release.yml
Labels: norelease

#41 Adding pulsed simulation to gallery
  .circleci/config.yml
  .github/workflows/docs.yml
  docs/examples/plot_pulsed_simulation.py
Labels: norelease

#44 Document full scenario
  docs/api/scenarios.md
  docs/api/utils.md
  docs/examples/plot_full_scenario.py
  mkdocs.yml
  src/neurotechdevkit/scenarios/__init__.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_scenario_0.py
  src/neurotechdevkit/scenarios/_scenario_1.py
  src/neurotechdevkit/scenarios/_scenario_2.py
  src/neurotechdevkit/scenarios/_utils.py
  tests/neurotechdevkit/scenarios/test_base.py
Labels: release:patch

#58 Adding documentation on how to download the example notebooks
  .github/workflows/test.yml
  Dockerfile
  Makefile
  docker-compose.yml
  docs/index.md
  docs/usage/installation.md
  run_jupyter_server.sh
Labels: norelease

#66 Adding extra instructions to MacOS users installing neurotechdevkit
  docs/usage/installation.md
Labels: norelease

#68 Using generated gallery as cache for making docs
  .github/workflows/docs.yml
Labels: norelease

#69 Adding cronjob triggering circleCI to build the gallery examples without cache
  .circleci/config.yml
  .github/workflows/trigger_gallery_build.yml
Labels: norelease

#62 Adding linux installation instructions
  docs/index.md
  docs/usage/installation.md
Labels: norelease
