Repository agencyenterprise/neurotechdevkit, pull requests merged in 2023-09, with the labels that each got.

#145 [#109] ultrasound imaging examples
  docs/examples/plot_ultrasound_imaging_multiplane.py
  docs/examples/plot_ultrasound_imaging_scanline.py
  poetry.lock
  pyproject.toml
  src/neurotechdevkit/imaging/__init__.py
  src/neurotechdevkit/imaging/beamform.py
  src/neurotechdevkit/imaging/demodulate.py
  src/neurotechdevkit/imaging/util.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_shots.py
  src/neurotechdevkit/scenarios/built_in/__init__.py
  src/neurotechdevkit/scenarios/built_in/_scenario_3.py
  tests/neurotechdevkit/imaging/test_beamform.py
  tests/neurotechdevkit/imaging/test_demodulate.py
  tests/neurotechdevkit/scenarios/test_base.py
  tests/neurotechdevkit/scenarios/test_builtin.py
  tests/neurotechdevkit/scenarios/test_shots.py
  whitelist.txt
Labels: release:minor

#147 134 Slice `SteadyStateResult3D` to `SteadyStateResult2D`
  src/neurotechdevkit/results/_results.py
  src/neurotechdevkit/scenarios/__init__.py
  src/neurotechdevkit/scenarios/_base.py
  src/neurotechdevkit/scenarios/_utils.py
  src/neurotechdevkit/scenarios/built_in/_scenario_0.py
  src/neurotechdevkit/scenarios/built_in/_scenario_1.py
  src/neurotechdevkit/scenarios/built_in/_scenario_2.py
  tests/neurotechdevkit/scenarios/test_results.py
Labels: release:patch

#153 Add link check workflow action file
  .github/workflows/check_links.yml
  docs/contributing.md
Labels: norelease

#154 Include gallery images in CircleCI-generated docs
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: release:patch, label_review

#151 Add Benchmark 7 of Aubry et al. (2022) as a Scenario2 variant
  src/neurotechdevkit/scenarios/built_in/__init__.py
  src/neurotechdevkit/scenarios/built_in/_scenario_2.py
  src/neurotechdevkit/scenarios/built_in/data/skull_mask_bm7_dx_0.5mm.mat
  tests/neurotechdevkit/scenarios/test_builtin.py
  whitelist.txt
Labels: release:patch

#160 Document spellcheck issue on Mac M1
  Makefile
Labels: release:patch, label_review
