Repository agencyenterprise/neurotechdevkit, pull requests merged in 2023-08, with the labels that each got.

#138 Fix slice index for benchmark-8 2D
  src/neurotechdevkit/scenarios/built_in/_scenario_2.py
Labels: release:patch

#132 [#128] Fix Scenario-2 to work with different center frequencies
  src/neurotechdevkit/scenarios/built_in/_scenario_0.py
  src/neurotechdevkit/scenarios/built_in/_scenario_2.py
  tests/neurotechdevkit/scenarios/test_builtin.py
  whitelist.txt
Labels: bug, release:patch

#150 Update pyrevolve to 2.2.3
  poetry.lock
Labels: bug, release:patch

#136 Allow saving and loading custom scenarios
  docs/examples/plot_3d.py
  src/neurotechdevkit/results/_results.py
  tests/neurotechdevkit/scenarios/test_builtin.py
  tests/neurotechdevkit/test_compilation.py
Labels: release:minor
